/* =============
   Global Styles
   ============= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ========
   Coloring
   ======== */
.preview {
  background-color: hsl(270, 20%, 96%);
}
.walker {
  background: linear-gradient(90deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
}
.name {
  color: white;
}
.status {
  color: hsl(276, 100%, 81%);
}
.received {
  color: hsl(276, 55%, 52%);
  background-color: hsl(270, 20%, 93%);
}
.sent {
  color: hsl(271, 15%, 43%);
  background-color: white;
}
.offer {
  background: linear-gradient(90deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
}
.time {
  color: rgba(255, 255, 255, 0.719);
}
.price {
  color: white;
}
.placeholder {
  color: hsl(206, 6%, 79%);
}
h1 {
  color: hsl(271, 36%, 24%);
}
.description {
  color: hsl(270, 7%, 64%);
}
.btn {
  outline: 1px solid rgba(255, 255, 255, 0.507);
  background-color: hsl(293, 100%, 63%);
}
/* ==========
   Typography
   ========== */

body {
  font-family: "Rubik", sans-serif;
}

/* =========
   Formating
   ========= */
.preview {
  width: 75vw;
  margin: 75px auto auto auto;
  padding: 10px;
  border: black solid 1px;
  border-radius: 30px;
}
.text {
  margin: 10px;
}
.sent {
  text-align: right;
}
.offer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
  border-radius: 15px;
  border-bottom-left-radius: 5px;
}
.time {
  display: flex;
}
.btn {
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin-right: 15px;
}
