/* =============
   Global Styles
   ============= */

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --clr-sub: hsl(276, 100%, 81%);
  --clr-left: hsl(276, 55%, 52%);
  --clr-right: hsl(271, 15%, 43%);
  --clr-place: hsl(206, 6%, 79%);
  --clr-heading: hsl(271, 36%, 24%);
  --clr-paragraph: hsl(270, 7%, 64%);
  --clr-background: hsl(0, 0%, 100%);
  --clr-app: hsl(270, 20%, 96%);
  --clr-submit: hsl(271, 36%, 24%);
  --clr-radio: hsl(289, 100%, 72%);
  --grad-light: hsl(293, 100%, 63%);
  --grad-dark: hsl(264, 100%, 61%);
  --fw-normal: 400;
  --fw-bold: 500;
  --fw-black: 700;
}
body {
  font-family: "Rubik", sans-serif;
}
/* ========
   Coloring
   ======== */
.preview {
  background-color: var(--clr-app);
}
.walker {
  background: linear-gradient(90deg, var(--grad-dark), var(--grad-light));
}
.name {
  color: var(--clr-background);
}
.status {
  color: var(--clr-sub);
}
.received {
  color: var(--clr-right);
  background-color: hsl(270, 20%, 93%);
}
.sent {
  color: var(--clr-left);
  /* background-color: white; */
}
.offer {
  background: linear-gradient(90deg, var(--grad-light), var(--grad-dark));
}
.time {
  color: var(--clr-app);
}
.price {
  color: var(--clr-background);
}
.placeholder {
  color: var(--clr-place);
}
h1 {
  color: var(--clr-heading);
}
.description {
  color: var(--clr-paragraph);
}
.btn {
  outline: 1px solid var(--clr-radio);
  background-color: var(--grad-light);
}
/* ==========
   Typography
   ========== */

/* =========
   Formating
   ========= */
.preview {
  width: 75vw;
  margin: 75px auto auto auto;
  padding: 10px;
  /* temp border */
  border: black solid 1px;
  border-radius: 30px;
  /* ======================== */
}
.text {
  margin: 10px;
}
.sent {
  text-align: right;
}
.offer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
  border-radius: 15px;
  border-bottom-left-radius: 5px;
}
.time {
  display: flex;
}
.btn {
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin-right: 15px;
}
